RFC2136_NAMESERVER={{ traefik_rfc2136_nameserver }}
RFC2136_TSIG_ALGORITHM={{ traefik_rfc2136_tsig_algorithm }}
RFC2136_TSIG_KEY={{ traefik_rfc2136_tsig_key }}
RFC2136_TSIG_SECRET={{ traefik_rfc2136_tsig_secret }}
{% if traefik_rfc2136_timeout is defined %}
RFC2136_TIMEOUT={{ traefik_rfc2136_timeout }}
{% endif %}
DOMAIN={{ traefik_rfc2136_domain }}
